
#div_tp1 {
  width: 400px;
  height: 400px;
  border: 1px solid  #808080;
  font-size: 1.5rem ;
}

.div_tva {
  border: 1px solid black;
  padding: 0.25rem;
}

.div_tvadetail1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

input[type=radio] {
  cursor: pointer;
}
.div_saisie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 6rem;
  grid-gap: 1rem;
}

label {
  text-align: right;
}

input{
  border: 1px solid #5b5b5b;
  color: #000000;
  font: inherit;
  text-align: left;
}

.div_bouton {
  float: right;
  padding-right: 1rem ;
}

input[type=button] {
  cursor: pointer;
  border: none;
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
}

input[type=button]:hover {
  border: 2px solid #0000ff;
}

#btn_calculer{
  background:url(calculer.jpg) 
  no-repeat center ;
}










