input {
    border: 1px solid #5b5b5b;
    color: #000000;
    font: inherit;
    text-align: left;
    margin: 0.25rem;
}

.gestion_liste {
    display: grid;
    grid-template-columns:  9fr 1fr;
    grid-gap: 1rem;
}
header {
    background-color: #000000;
}

.liste {
    width:  100%;
}

input [type=button] {
    cursor: pointer;
    border: none;
    background-color: #00b0ff;
    color: #000000;
    height: 2rem;
    vertical-align: middle;
    min-width: 8rem;
    text-align: center;
}

input [type=button]:hover {
    background-color: #0000ff;
    border: 1px solid #ffffff;
    color: #ffffff;
}